.container{
    width:1024px;
    position:absolute;
    left:20%
}
#main-bio{
    float:left;
    font-size: 20px;
  
}
#contact-info{
    float:left;
    width:30%
}
#bio_image{
    float:left;
    width:200px
}

body{
    background-color: #efeee7;
    font:"Georgia";
    color: #333333;
}
header{
    background-color:#333333;

}
h1{
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
}
h2{
    font-size: 40px
}
a {
    color:#d21034;
  }
#figure{
    position: relative;
}
#bio-name{
    font-size: 40px;
}
.bio{
    font-size: 20px;

}